h1 {
    color:black;
    text-align: center;
    font-size:100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  p {
    font-family:'Times New Roman', serif;
    font-size: 15px;
  }
  
  body {
      background-color: rgb(219, 217, 238);
    }
  
